<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Książka kucharska</title>
</head>
<div layout:fragment="content">
    <div id="left">
        <table>
            <thead>
            <tr>
                <td th:text="'przepis'">nazwa</td>
                <td th:text="'&#128337'">&#128337</td>
                <td th:text="'&#128077'">&#128077</td>
            </tr>
            </thead>
            <tr th:each="r: ${recipes}">
                <td><a th:href="|/przepis/${r.id}|" th:text="${r.name}"></a></td>
                <td class="centered" th:text="|${#dates.format(r.preparationTime,'HH:mm')}|"></td>
                <td class="centered" th:text="|${r.likesCounter}|"></td>
            </tr>
        </table>
    </div>
    <div id="right">
        <div class="centered">KATEGORIE<br/></div>
        <table id="categories">
            <tr th:each="c: ${categories}">
                <td>
                    <a th:href="|/kategoria/${c.id}|">
                        <button class="button-category" th:text="${c.name}"></button>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a th:href="|/kategoria/wszystkie|">
                        <button class="button-category" th:text="WSZYSTKIE"></button>
                    </a>
                </td>
            </tr>
        </table>
    </div>
    </tr>
    </table>
</div>
</html>