<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Layout title</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
</head>
<body>
<div id="container" th:fragment="container">
    <header th:fragment="header">
        <div id="general_header" th:fragment="general_header">
            <span>solution for exercise 26.1</span>
        </div>
        <div id="app_header" th:fragment="app_header">
            <div id="links" th:id="links">
                <a href="/" class="button-header" th:class="button-header" th:href="@{/}">
                    <button class="button-header">LISTA PRZEPISÓW</button>
                </a>
                <a href="/popularne" class="button-header" th:class="button-header"
                   th:href="@{/popularne}">
                    <button class="button-header">NAJBARDZIEJ POPULARNE</button>
                </a>
                <a href="/nowe" class="button-header" th:class="button-header"
                   th:href="|@{/nowy}|">
                    <button class="button-header">DODAJ NOWY PRZEPIS</button>
                </a>
                <span id="logo">Książka Kucharska</span>
            </div></div>
        <div id="title" th:id="title">
            <img th:src="@{|/gallery/${pictureName}.png|}">
            <span id="title_text" th:id="title_text" th:text="${title}"></span>
        </div>
    </header>
    <main>
        <div id="middle" th:id="middle">
            <div layout:fragment="content"></div>
        </div>
    </main>
    <footer id="footer" th:id="footer" th:fragment="footer">
        last update: July 20th '22 by KUBAMAK  (All  icons downloaded from:
        <a th:href="|https://www.flaticon.com|" target="_blank">https://www.flaticon.com)</a>
    </footer>
</div>
</body>
</html>
